.nav {
    grid-area: n;
    background-color: aquamarine;
    border-radius: 45px;
    height: 925px;
    padding: 40px;
}

.link {
    color: gray;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 4px;
    text-decoration: none;
}

.activeLink {
color: brown;
}