body{
    background-color:whitesmoke;
}

.App-wrapper {
    display: grid;

    margin: 0 auto; /* выравнивание по центру*/
    width: 1500px; /* это ширина странички*/

    grid-template-areas:
     "h h "
      "n c ";
    grid-template-rows: 84px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}








